[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group user/Matthias Sohn (msohn)
	read = group Anonymous Users
	revert = group Registered Users
[access "refs/for/refs/*"]
	addPatchSet = group Registered Users
[access "refs/meta/config"]
	create = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Project Owners
	read = group Project Owners
	read = block group Anonymous Users
	submit = group Project Owners
