[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group user/Matthias Sohn (msohn)
	owner = group user/Luca Milanesio (lucamilanesio)
	owner = group github/eclipse-jgit/eclipsefdn-releng
	owner = group github/eclipse-jgit/eclipsefdn-security
	read = group Anonymous Users
	revert = group Registered Users
	forgeCommitter = block group Anonymous Users
	forgeServerAsCommitter = block group Anonymous Users
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/meta/config"]
	create = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Project Owners
	read = group Project Owners
	read = group github/eclipse-jgit/technology-jgit-committers
	read = block group Anonymous Users
	submit = group Project Owners
	push = group Project Owners
	abandon = group Project Owners
[access "refs/for/*"]
	addPatchSet = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/eclipse-jgit-bot
