[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group github/eclipse-jgit/eclipsefdn-releng
	owner = group github/eclipse-jgit/eclipsefdn-security
	owner = group user/Matthias Sohn (msohn)
	read = group Anonymous Users
	revert = group Registered Users
	forgeCommitter = block group Anonymous Users
	forgeServerAsCommitter = block group Anonymous Users
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/meta/config"]
	create = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Project Owners
	read = group Project Owners
	read = group github/eclipse-jgit/technology-jgit-committers
	read = block group Anonymous Users
	submit = group Project Owners
	push = group Project Owners
	abandon = group Project Owners
[access "refs/for/*"]
	addPatchSet = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group github/eclipse-jgit/technology-jgit-committers
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group github/eclipse-jgit/technology-jgit-committers
	label-Verified = -1..+1 group user/eclipse-jgit-bot (eclipse-jgit-bot)
	abandon = group github/eclipse-jgit/technology-jgit-committers
	create = group github/eclipse-jgit/technology-jgit-committers
	forgeAuthor = group github/eclipse-jgit/technology-jgit-committers
	submit = group github/eclipse-jgit/technology-jgit-committers
[access "refs/tags/*"]
	create = group github/eclipse-jgit/technology-jgit-committers
	createSignedTag = group github/eclipse-jgit/technology-jgit-committers
	createTag = group github/eclipse-jgit/technology-jgit-committers
	push = group github/eclipse-jgit/technology-jgit-committers

[commentlink "buglink"]
	match = ([Bb][Uu][Gg]:\\s+)(jgit-)(\\d+)(\\s*)
	link = "https://github.com/eclipse-jgit/jgit/issues/$3"
	prefix = "$1"
	suffix = "$4"
	text = "$2$3"

[commentlink "changeid"]
	match = (.*\\b)(I[0-9a-f]{7,40})(\\b.*)
	link = "/q/$2"
	prefix = "$1"
	suffix = "$3"
	text = "$2"

[trackingid "bugfooter"]
	footer = Bug
	match = (jgit-\\d+)
	system = GitHub

[plugin "eca-validation"]
	enabled = true
